
/* 
li {
  display: flex;
} */
.title {
  color: #fc6d6d;
  padding-left: 30px;
}
h4 {
  font-size: 20px;
}
p {
  color: #fff;
}

.card-grid {
  margin: 0 auto;
}
/* ======popup img start========== */
.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.popup-image img {
  position: absolute;
  /* top: 0%; */
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 5px solid #fff;
  /* width: 600px; */
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}
/* ======popup img end========== */


/* ======navbar underline start===== */
/* a {
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
  color: #a0a0a0;
}
a:after {
  margin: auto;
  width: 0;
  display: block;
  content: '';
}
nav ul li a:hover::after {
  background-color: #fc6d6d;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s linear;
}
a:hover:after {
  width: 80%;
}
nav ul li a:hover {
  color: #fc6d6d;
} */

/* ======navbar underline end===== */

/* ======card glightbox start========== */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section {
  padding: var(--spacing-xxl) var(--spacing-l);
  padding-top: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}



@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__background {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  width: 100%;
  height: 340px;
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


/* ======card glightbox  end===== */